
body{
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #d7e1ec 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardlist{
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #602060;*/
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

    color: white;
    border-radius: 20px;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
  padding-top: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
      margin-top: 20px;
      margin-bottom: 10px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
#card-t{
  /*background: rgba(245,245,245,0.6);*/
  background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.4),rgba(255,255,255,0.6));
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.15);
}

.viewbuttons{

  padding-top: 10px;
}

#btn-chat{
  border-radius: 10px;
  font-weight:bold;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 50%) {
    .column {
        width: 50%;
    }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 25%) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
